section {
  background-image: url('https://images.unsplash.com/photo-1542459099-a5df94c67d95?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1647&q=80');
  min-height: 500px;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
}

.overlay {
  position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.45);
    color: white;
}

.accordion--style {
  color: white;
  margin: 0px;
  background-color: transparent;
  border-radius: 20px;
}

.accordion--toggle--style {
  background-color: transparent;
  border-style: none;
  color: white;
}

.card-header {
  padding: 5px;
}

.navbar {
    padding-top: 200px;
    background: transparent;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
  }
  
  .navbar-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;

  
  }
  
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
  }
  
  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }

    .accordion--style {
      display: block;
      text-align: center;
      margin: 15px auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 20px;
      background-color: transparent;
      color: #fff;
      padding: 10px;
      border: 1px solid #fff;
      
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background-color: rgb(36, 36, 37);
      left: 0;
      opacity: 1;
      height: 100vh;
      object-fit: contain;
      flex-direction: column;
      justify-content: center;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 20px;
      width: 100%;
      font-size: 20px;
      display: table;
    }
  
    .nav-links:hover {
      background-color: #fff;
      color: #242424;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }

    .fa-window-close {
      color: white;
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      
      font-size: 2rem;
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 20px;
      background-color: transparent;
      color: #fff;
      padding: 10px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile:hover {
      background: #fff;
      color: #242424;
      transition: 250ms;
    }
  }
  